.back {
	clip-path: polygon(
		0% 13%,
		40% 13%,
		60% 18.1%,
		100% 18.1%,
		100% 100%,
		0% 100%
	);
	
}

.circle{
	background: radial-gradient(
    circle closest-corner at center 26px,
    rgb(11, 11, 126) 10%,
	#1f53ad
  ) no-repeat;
}
.btn:active .inner {
	transform: translate(0, 0);
	border: 0;
}
.btn {
	filter: drop-shadow(3px 3px 3px rgba(50, 50, 0, 0.5));
}
.shad{
	-webkit-box-shadow: inset -21px -34px 87px -42px rgba(0,0,0,0.69);
-moz-box-shadow: inset -21px -34px 87px -42px rgba(0,0,0,0.69);
box-shadow: inset -21px -34px 87px -42px rgba(0,0,0,0.69);
text-shadow: 2px -1px 3px rgba(0,0,0,0.68);
}
